.brand-text{
    text-align: center;
    padding-top: 2%;
}

.brand-text img{
    margin-top: 6%;
    margin-bottom: 2%;
}

.txt{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 2%;
    line-height: 150%;
    color: #051D40
}

.brand-text h2{
    font-size: 200%;
}

.brand-text h3{
    font-size: 180%;
}